# Data Collection

In this section, we use snscrape to scrape 1+ million tweets from the top 100 users in crypto twitter.

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

top_users =['SushiSwap', 'frxresearch', 'masonnystrom', 'ZeMariaMacedo', 'mdudas', 'katherineykwu', 'lopp', 'ohmzeus',
          '_Checkmatey_', 'AltcoinGordon', 'ASvanevik', 'JamesTodaroMD', 'PaikCapital', 'JosephTodaro_', 'coryklippsten',
          'theklineventure', 'CryptoLeslie', 'JoeBGrech', 'vishalkgupyta', '_MinTeo', 'BTC_Archive', 'teo_leibowitz',
           'danheld', 'MadelonVos_', 'LayahHeilpern', 'CryptoMichNL', 'tyler', 'arjunblj', 'TheCryptoDog', 'HaileyLennonBTC',
           'ljxie', 'tarunchitra', 'CryptoDonAlt', 'CryptoKaleo', 'woonomic', '100trillionUSD', 'DocumentingBTC', 'LynAldenContact',
           'PeterLBrandt', 'TuurDemeester', 'NoelleInMadrid', 'fundstrat', 'nic__carter', 'josiebellini', 'ercwl', 'BarrySilbert', 
           'Melt_Dem', 'twobitidiot', 'AriDavidPaul', 'AriannaSimpson', 'jessewldn', 'Bitdealer_', 'jamie247', 'SanjaKon', 'alex_dreyfus',
           'aantonop', 'Shaughnessy119', 'jack', 'crlomazzo', 'scottmelker', 'zhusu', 'tatianakoffman', 'ErikVoorhees', 'spencernoon',
           'NickSzabo4', 'RaoulGMI', 'cburniske', 'notsofast', 'KatieTheRussian', 'saylor', 'SBF_FTX', 'VitalikButerin', 'ethereumJoseph',
           'hasufl', 'scupytrooples', 'cz_binance', 'lawmaster', '_evalawrence', 'adam3us', 'girlgone_crypto', 'Arthur_0x', 'CryptoWendyO',
           'RyanWatkins_', 'riabhutoria', 'tbr90', 'iamjosephyoung', 'lisajytan', 'zackvoell', 'Timccopeland', 'La_Cuen', 'APompliano',
           'PeterMcCormack', 'CamiRusso', 'GoingParabolic', 'cobie', 'naval', 'laurashin', 'nikhileshde', 'CryptoTaxGirl', 'gordonlawtd',
           'Coin_Tracking']

In [24]:
#part 1 of data collection (01/2022 to  05/2022)
tweets_list = []

for x in top_users:
# Using TwitterSearchScraper to scrape data and append tweets to list
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:{} since:2022-01-01 until:2022-05-06'.format(x)).get_items()):
        tweets_list.append([tweet.date, tweet.content, tweet.user.username, tweet.replyCount, tweet.likeCount, tweet.retweetCount, tweet.quoteCount])
    
# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets_list, columns=['Datetime', 'Text', 'Username', 'Reply_Count', 'Amt_of_Likes', 'Amt_of_Retweets', 'Amt_of_Quotes'])

In [25]:
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124370 entries, 0 to 124369
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Datetime         124370 non-null  datetime64[ns, UTC]
 1   Text             124370 non-null  object
 2   Username         124370 non-null  object
 3   Reply_Count      124370 non-null  int64
 4   Amt_of_Likes     124370 non-null  int64
 5   Amt_of_Retweets  124370 non-null  int64
 6   Amt_of_Quotes    124370 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(4), object(2)
memory usage: 6.6+ MB

In [27]:
tweets_df.head()

,Datetime,Text,Username,Reply_Count,Amt_of_Likes,Amt_of_Retweets,Amt_of_Quotes
0,2022-05-04 14:00:02+00:00,‚ö°¬†Live on Snapshot: Sushi 2.0 - Road Ahead Pro...,SushiSwap,22,92,14,1
1,2022-05-03 14:37:14+00:00,üç£ Another $700k served to the bar for $xSUSHI ...,SushiSwap,19,73,12,0
2,2022-05-02 09:36:44+00:00,üì£¬†Join us today (2nd May) at 14:00pm UTC for o...,SushiSwap,19,129,20,0
3,2022-04-30 14:30:10+00:00,Today in Sushi community analytics:\n\nüç± Top M...,SushiSwap,25,66,12,1
4,2022-04-29 09:37:41+00:00,üì∞ Sushi April Recap üç£\n\nA full month of produ...,SushiSwap,16,68,9,1

In [30]:
#saving tweets to csv
tweets_df.to_csv('crypto_tweets.csv')

In [ ]:
#part two of data collection (01/2020 - 01/2022)
tweets_list_2 = []

for x in top_users:
# Using TwitterSearchScraper to scrape data and append tweets to list
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:{} since:2020-01-01 until:2022-01-01'.format(x)).get_items()):
        
        if i > 1000000:
            break
        
        tweets_list_2.append([tweet.date, tweet.content, tweet.user.username, tweet.replyCount, tweet.likeCount, tweet.retweetCount, tweet.quoteCount])
    
# Creating a dataframe from the tweets list above
tweets_df_2 = pd.DataFrame(tweets_list_2, columns=['Datetime', 'Text', 'Username', 'Reply_Count', 'Amt_of_Likes', 'Amt_of_Retweets', 'Amt_of_Quotes'])

In [ ]:
tweets_df_2.to_csv('crypto_tweets_pts.csv')